%h1 Listing polls


- @polls.each do |poll|
  .poll{'data-id' => poll.id}
    %h2= poll.question
    .publish
    = render :partial => "polls/publish_link", :locals => {:poll => poll}.actions
    = link_to 'Edit', edit_poll_path(poll) if has_admin_rights
    = link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } if   	has_admin_rights
    = link_to 'Show', poll

= link_to 'New Poll', new_poll_path if has_admin_rights
